@use 'styles/themes/theme' as *;
@use 'styles/abstracts/variables' as *;

.playcontrol-container {
  padding: $space-4;
  
}

.playcontrol-music-title {
  height: auto;
  text-align: center;
  color: $white;
}

.playcontrol-buttons {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-top: $space-2;



  .left {
    display: flex;
    flex-direction: row;
  }
  .right {
    display: flex;
    flex-direction: row;
    justify-content: right;
    position: absolute;
    right: 0;
  }

  @media (max-width: $breakpoint-lg) {
    justify-content: space-between;
  }

}