$global-background: #acacac;

$black: #0c0c0c;
$dark-blue: #14171c;
$white: #f6f6f6;
$grey: #919191;
$blue: #529eba;

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap');