.ambient-sound {
  $size: 5.5rem;
  width: $size;
  height: $size;
  margin-bottom: 0.5rem;
  
  .sfx-cell {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sfx-btn {
    width: 80%;
    height: 80%;
    margin-bottom: 0.5rem;
    // color: $grey;
    opacity: 0.5;
    filter: invert(100%);

    &:hover {
      cursor: pointer;
      // color: $white;
      opacity: 1;
    }

  }
  .playing {
    // color: $white;
    opacity: 1;

  }
}