.playlist {
  width: 0%;
  height: 100%;
  overflow: scroll;
  transition: width 2.5s ease-in-out;
  background-color: $black;
  color: $white;
  font-size: 1.2rem;
}

.playlist {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.playlist::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
