@use '../../themes/theme' as *;
@use '../../abstracts/variables' as *;

.playlist-container {

}

.playlist-list {
  width: 0%;
  height: 100%;
  overflow: scroll;
  transition: width 1s ease-in-out;
  color: $white;
  font-size: 1.2rem;

  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  &::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
  }
}

.playlist-track {
  transition: background-color 0.3s ease;
  &:hover {
    cursor: pointer;
    background-color: rgba($white, 0.2);
  }
}

.playlist-btn {
  width: $size-4xl;
  height: $size-4xl;
}